.cap{
    color: brown;
    }

    .navigation{
        margin: 20px 20px;
    }

    .important{
        margin: 20px 400px;
    }

    .pictures{
        margin: 100px;

    }

    .text{
        font-style: italic;
    }